body {

    background-color: #F5F1E9;

}

#calendar {

    margin-left: auto;
    margin-right: auto;
    font-family: "Lato", sans-serif;

    width: 320px;

}

#calendar_weekdays div {
    display: inline-block;
    vertical-align: top;

}